<% @water.tags.build %>
<%= form_for(@water) do |water_form| %>
  <% if @water.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@water.errors.count, "error") %> prohibited this water from being saved:</h2>

      <ul>
      <% @water.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
	<%= water_form.label :name %><br />
	<%= water_form.text_field :name %>
</div>
<h2>Tags</h2>
<%= render :partial => 'tags/form',
           :locals => {:form => water_form} %>


  <div class="actions">
    <%= water_form.submit %>
  </div>
<% end %>
